body {
    margin: auto 0px;
    padding: 20px;
    background-color: aliceblue;
    font-size: large;
    display: block;
    font-family: cursive;
    font-weight: 900;
    background-image: url("https://cdn.prod.website-files.com/64022de562115a8189fe542a/663b9b70ff53a383fc50eea2_Feedback-Culture-Exploring-Its-Purpose-Benefits-And-How-To-Build-One.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    backdrop-filter: brightness(0.6);
}



h1 {
    text-align: center;
    text-shadow: -9px 5px 5px #dd1919;
    color: aliceblue;
    font-size: 50px;
    font-weight: 900;
    text-decoration: underline;
    text-transform: uppercase;
}

form {
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: auto;
    background-color: floralwhite;
    padding: inherit;
    box-shadow: 8px 11px 20px 9px #af8686;
}



label {
    margin: 15px 0px;    
} 

textarea, input[type=text] {
    padding: 10px;
}

#submit {
    margin-top: 10%;
    padding: 14px;
    font-weight: 600;
    font-size: 20px;
    font-family: system-ui;
    color: rgb(255 247 18);
    background-color: rgb(0 0 0);
    border: none;
    text-transform: uppercase;
}

p.socailpara {
    text-align: center;
}